<?xml version="1.0" encoding="UTF-8"?>
<svg height="4px" version="1.1" viewBox="0 0 10 4" width="10px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
    <title>Black/Arrow/Down</title>
    <desc>Created with Sketch.</desc>
    <g fill-rule="evenodd" fill="none" id="Symbols" stroke-width="1" stroke="none">
        <g fill-rule="nonzero" id="Header/Cart-Filled" stroke="#000000" transform="translate(-1310.000000, -52.000000)">
            <g id="Group-2" transform="translate(1276.000000, 43.000000)">
                <g id="Black/Arrow/Down" transform="translate(29.000000, 1.000000)">
                    <polyline id="Rectangle-15" points="8 6 12 10 8 14" transform="translate(10.000000, 10.000000) rotate(90.000000) translate(-10.000000, -10.000000) "></polyline>
                </g>
            </g>
        </g>
    </g>
</svg>