<div id="page-404">
    <h2>{{ 'general.404.error_code' }}</h2>

    {% assign search_label = 'general.404.title' | t %}
    {% include 'search-form' with label: search_label %}

    <a class="button" href="/">
        {{ 'general.404.back' | t }}
    </a>

</div>
